#projects {
  text-align: left;
  .section-content {
    display: flex;
  }
  h2 {
    margin: 0px;
    text-align: left;
    font-weight: 300;
    padding: 20px;
    color: white;
    background-color: #009688;
  }
  .underline {
    border-bottom: 5px solid #009688;
  }
  .primary-color {
    color: #009688;
  }
  .card {
    margin: 0 2rem;
  }
  .card-image {
    border-bottom: 1px solid rgba(160,160,160,0.2);
  }
}

